.twitter-widget ul {
margin: 0;
padding: 0;
}
.twitter-widget li {
list-style: none;
clear: both;
}
.twitter-widget li img, .twitter-widget li .tweets_txt {
float: left;
margin-bottom: 10px;
}
.twitter-widget li img {
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}
.twitter-widget li .tweets_txt {
width: 80%;
margin-left: 10px;
font-size: 1em;
#color:white;
}
.twitter-widget li .tweets_txt span {
font-style: italic;
color: #666;
display: block;
}
