.demo-wrapper {
	background-color: #000;
}
.demo-wrapper .header {
	text-align: center;
	line-height: 55px;
	width: 100%;
	height: 50px;
	background-color: #2abad8;
	color: #fff;
	text-shadow: 0 0 0 rgba(255,255,255,0);
	position: relative;
}
.demo-wrapper .header .title {
	font-family: 'Georgia';
	font-size: 31px;
	font-weight: bold;
}
.titleminitutorial {
	font-family: 'Georgia';
	font-size:160%;
	font-weight: bold;
}
.demo-wrapper .header a,
.demo-wrapper .header a:hover,
.demo-wrapper .header a:active {
	color: #fff !important;
	text-decoration: none;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #c6f3f8;
	font-size: 21px;
	font-weight: normal;
}
.demo-wrapper .open a,
.demo-wrapper .open a:hover {
	padding: 7px 15px;
	background-color: #000;
	border-radius: 3px;
}
.demo-wrapper .header .open {
	color: #fff;
	position: absolute;
}
.demo-wrapper .header .open.left {
	left: 20px;
	cursor: pointer;
}
.demo-wrapper .header .open.right {
	right: 20px;
	cursor: pointer;
}
.demo-wrapper .panel {
	background: black;
  /*color de fondo*/
	color: #ECF0F1;
}
.demo-wrapper .panel a {
	color: #FFF !important;
	text-shadow: 0 0 0 rgba(0,0,0,0);
	font-size: 14px;
	padding: 15px 20px 15px 60px;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #475657;
	border-top: 1px solid #95A5A6;
	position: relative;
	font-weight: 400;
}
.demo-wrapper .panel ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #95A5A6;
}
.demo-wrapper .panel .avatar {
	position: absolute;
	top: 8px;
	left: 20px;
}
.demo-wrapper .ui-panel-inner {
	padding: 0;
}
.demo-wrapper .panel a:hover {
	background-color: #95A5A6;
}
.demo-wrapper .panel.right a:before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	background-color: #2ECC71;
	right: 20px;
}
.demo-wrapper .panel.left a:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 15px;
	left: 20px;

	text-align: center;
	font-size: 18px;
}

.fondopanel{
	background-color: #aaaaaa !important;
}

.demo-wrapper .panel.left .newsfeed a:before {
	#content: url('../img/mkalalang_120.jpg');
}
.demo-wrapper .panel.left .profile a:before {
	#content: '👤';
}
.demo-wrapper .panel.left .setting a:before {
	#content: '../source/dist/png/file.png';
}
.demo-wrapper .panel.left .logout a:before {
	#content: '../source/dist/png/files-o.png';
}
.demo-wrapper .panel.left .report a:before {
	#content: 'question.png';
}

.demo-wrapper .panel.left .report a:before {
	#content: 'twitter.png';
}


#background{
position: fixed;
top: 0 !important;
left: 0 !important;
width: 100% !important;
height: 100% !important;
background: url('\img\nubesfondo.png') no-repeat center center fixed !important;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
z-index: -1;
}
.ui-page{
background:none;
}
